<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F:%L) - %m%n"/>
        </layout>
    </appender>
  <!--  <appender name="fileAppenderInfo" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="debug"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="MaxFileSize" value="25120KB"/>
        <param name="file" value="/home/rbulatov/logs/cati.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p (%F:%L) - %m%n"/>
        </layout>
    </appender>-->

    <logger name="ru.action" additivity="false">
        <level value="DEBUG"/>
       <!-- <appender-ref ref="fileAppenderInfo"/>-->
        <appender-ref ref="stdout"/>
    </logger>
<!--   <logger name="org.hibernate.SQL" additivity="false">
            <level value="DEBUG" />
        <appender-ref ref="stdout"/>
    </logger>-->
    <root>
        <level value="ERROR"></level>
        <!--<appender-ref ref="fileAppenderInfo"></appender-ref>-->
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>
